@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: 0;
	overflow: hidden;
}

@import 'components/Logo/style.scss';
@import 'components/Header/style.scss';
@import 'components/CardPeople/styles.scss';
@import './pages/Login/styles.scss';
@import './pages/Teacher/styles.scss';
@import './pages/Student/style.scss';

@import 'components/LineOfTime/styles.scss';
@import 'components/CardPeople/styles.scss';
